* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oxanium", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
}
.heading {
  font-size: 26px;
  cursor: pointer;
}
.b-heading {
  font-size: 34px;
  font-weight: bolder;
  background: linear-gradient(to left, #663399, #4b0082, #8b008b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 20px;
}
.nav-items ul a {
  margin: 0 40px;
  text-decoration: none;
  color: #270044;
}
.nav-items li {
  padding: 4px;
}
.nav-items li:hover {
  background-color: rgb(234, 234, 234);
  border-radius: 16px;
  transition: transform 0.1s ease-in;
  transform: scale(1.01);
}
.log-in button {
  font-family: "Oxanium", sans-serif;
  width: 160px;
  height: 36px;
  border-radius: 0 25px 25px 25px;
  border: 2px solid #663399;
  color: #8b008b;
  font-size: 15px;
  background-color: white;
  transition: background 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}
.log-in button:hover {
  background: linear-gradient(to left, #4b0082, #663399, #8b008b);
  color: white;
}

.main-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.main-section-1 {
  margin-left: 20px;
}

.main-head {
  padding: 6px 10px 16px 0;
}
.main-text {
  font-size: 18px;
  padding: 6px 10px 16px 0;
}
.text-gradient-1 {
  background: linear-gradient(to left, #663399, #4b0082, #8b008b, #006666);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-2-head-1 {
  margin-top: 50px;
  text-align: center;
}
.sec-2-head-2 {
  margin-top: 20px;
  text-align: center;
  background: linear-gradient(to left, #663399, #4b0082, #8b008b, #006666);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 16px 4px rgb(237, 237, 237);
  transition: transform 0.3s ease;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 18px 4px rgb(211, 211, 211);
  transform: scale(1.04);
}
.logos {
  font-size: 36px;
  background: linear-gradient(to left, #663399, #4b0082);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user-logo {
  font-size: 50px;
  background: linear-gradient(to left, #663399, #4b0082);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-3-head-1 {
  text-align: center;
  margin-top: 40px;
}
.section-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.success-more-btn {
  text-align: center;
  margin-top: 16px;
}
.success-more-btn button {
  font-family: "Oxanium", sans-serif;
  padding: 16px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
  background-color: white;
  transition: transform 0.2s ease-in, color 0.1s ease-in;
  box-shadow: 0 0 16px 4px rgb(237, 237, 237);
}
.success-more-btn a {
  text-decoration: none;
  color: black;
}
.success-more-btn button:hover {
  background: linear-gradient(to left, #4b0082, #663399, #8b008b);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
}


.footer-text {
  text-align: center;
  margin: 26px 0;
  font-size: 26px;
}
.footer-text span {
  font-size: 40px;
  font-weight: bolder;
  background: linear-gradient(to left, #663399, #4b0082, #8b008b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.foot-button {
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  background-color: #0097a7;
}
.foot-button a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.foot-links {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  background-color: #e0f7fa;
}
.link-headings {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}
.footer-links {
  margin-top: 6px;
  list-style-type: none;
}
.footer-links a {
  text-decoration: none;
  color: #00796b;
}
.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}
.social-links a {
  text-decoration: none;
  color: #0097a7;
}
.footer {
  text-align: center;
  padding: 15px;
  color: #5f5f5f;
  background-color: #d4eceb;
}
.foot-cpyright {
  font-weight: bold;
}